{% model "hugo.json" %}
{% block title %}Perfil de {{ model.user }} {% endblock %}


{% block content %} 

	{% include "profile/banner" %}
	{% include "profile/main-info" %}
	{% include "profile/resume" %}
	
	<div class="exhibitions">
			<div class="content-box">
				<div class="row">
					<div class="large-9 small-8 columns">
						<h3>Últimas exposiciones</h3>
					</div>
					<div class="large-3 small-4 columns">
						<a href="http://" class="button add tiny right round">Agregar</a>
					</div>
						
					<div class="large-6 columns">	
						{% include "profile/ind_exhibitions" %}
					</div>
					
					<div class="large-6 columns">	
						{% include "profile/colec_exhibitions" %}
					</div>
					<div class="gradient"></div>
				</div>
			</div>
			<div class="large-12 columns text-center view-more-wrap"><a href="http://" class="view-more button round tiny">ver más</a></div>
	</div><!--/exhibitions-->
		
	<div class="works">
		<div class="content-box">
			<div class="row">
					<div class="large-9 small-8 columns">
						<h3>Obras destacadas</h3>
					</div>
					<div class="large-3 small-4 columns">
						<a href="http://" class="button add tiny right round">Agregar</a>
					</div>
					<div class="large-12 columns">	
						{% include "profile/featured_works" %}
					</div>				
			</div>
		</div>
	</div><!--/works-->
	
	
	<div class="edu-awards">
		<div class="content-box">
				<div class="row">
					<div class="large-9 small-8 columns">
						<h3>Educación &amp; Premios</h3>
					</div>
					<div class="large-3 small-4 columns">
						<a href="http://" class="button add tiny right round">Agregar</a>
					</div>
					<div class="large-6 columns">	
						{% include "profile/education" %}
					</div>
					<div class="large-6 columns">	
						{% include "profile/awards" %}
					</div>
				</div>
		</div>
	</div><!--/edu-awards-->

	
		
{% endblock %}