<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>{% block title %}{% endblock %}</title>
  {{ "normalize.css" | asset_url | stylesheet_tag }}
  {{ "app.css" | asset_url | stylesheet_tag }}
  <script src="{{ "custom.modernizr.js" | asset_url }}"></script>
  
  <script type="text/javascript" src="//use.typekit.net/abj5aps.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  
</head>
<body>
  <div>{% include "header" %}</div>
  {% block content %}{% endblock %}
  {% include "scripts" %}
  {% include "footer" %}
</body>
</html>