{% layout "login" %}

{% block content %}

<div class="cover">
	<div class="create-box">

		<section class="sign-in">
			<header><span class="artnation">ArtNation</span>. Iniciar sesión.</header>

			<div class="text-center">
			</div>
			<div class="panel">

				<form action="">
				<div class="row">
					<div class="small-12 medium-6 columns">
						<label for="name">Nombre</label>
						<input type="text" placeholder="Nombre">
					</div>
					<div class="small-12 medium-6 columns">
						<label for="name">Apellido</label>
						<input type="text" placeholder="Apellido">
					</div>
					<div class="small-12 columns">
						<label for="name">Nombre de usuario</label>
						<input type="text" placeholder="">
					</div>
					<div class="small-12 medium-6 columns">
						<label for="name">Nacionalidad</label>
						<input type="text" placeholder="Nacionalidad">
					</div>
					<div class="small-12 medium-6 columns">
						<label for="name">Lugar de residencia</label>
						<input type="text" placeholder="Lugar de residencia">
					</div>
					<div class="small-12 medium-6 columns end">
						<label for="name">Fecha de Nacimiento</label>
						<input type="text" placeholder="Fecha de Nacimient">
					</div>

					<div class="small-12 columns">
					<a href="select-profile" class="button radius right">Iniciar sesión</a>
					</div>
				</div>

				</form>

			</div><!--/panel-->
		</section>

	</div>
</div>
{% endblock %}