{% layout "login" %}

{% block content %}
<div class="row">
	<div class="large-8 large-centered columns">
		<div class="panel {{ mixture.url }}">
			<h2>Qué artístas han influido en tu obra.</h2>


		</div><!--/panel-->
	</div><!--col-->
</div><!--/row-->

{% endblock %}