@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";

/*Aux*/
.no-margin {
	margin: 0;
}

/*Variables*/

$primary : #717781;
$black : #000;
$white : #fff;


@function quantity($context:4) {
	@return	100% / ($context);
}


@mixin panel {
	background-color: lighten( $black, 98% );
	border-bottom: 2px solid lighten( $black, 90% );
	@include box-shadow(rgba(0,0,0,0.1) 0px 0px 1px);	
	
}

.panoramic {
	@include clearfix;
	
	
	background-color: lighten($primary,47%);
	margin-bottom: 2em;
	
	li {
		display: inline-block;
		padding-top: emCalc(15px);
		padding-bottom: emCalc(15px);
		float: left;
		text-align: center;
		@include box-sizing(border-box);
		
			small { font-size: 12px; font-weight: bold; color: lighten($primary,20%);}
		
			h3 {color: lighten($primary,5%);}
		 
		}
		
	&.three{
		li {
			width: quantity(3);
			margin: 0;
		}
	}	
		
	&.four{
		li {
			width: quantity();
		}
	}
	&.five{
		li {
	    	width: quantity(5);
		}
	}
}

.panel {
	border: none;
}

.button {
	-moz-box-shadow: 0 0 0;
	-webkit-box-shadow: 0 0 0;
	box-shadow: 0 0 0;
}

p.small {
	font-size: emCalc(13px);
}

.x-small {
	font-size: emCalc(12px);
	color: lighten( $black, 77% );
}

.stream-filter {
	margin: emCalc(6px) 0 0;
}


article.main {
	@include panel;
	margin-bottom: 1em;
	min-height: 550px;
	position: relative;
	z-index: 1;

}

.share-panel {
	background-color: lighten( $black, 97% );
	border-bottom: 2px solid lighten( $black, 90% );
	margin-bottom: 1em;
	position: relative;
	z-index: 1;
	@include box-shadow(rgba(0,0,0,0.2) 0px 0px 1px);
	padding: .5em;	
}

.article-head {
	position: relative;
	z-index: 10;

}





.article-img {
position: relative;
overflow: hidden;
height: auto;
width: 100%;
z-index: 10;

}

.article-img img {
width: 100%;

}





.article-text, .article-footer, .article-comment  {
	padding: .5em;
}

.article-comment  {
	background-color: lighten( $black, 88% );
}


.full-img {
height: auto;
width: 100%;
}


.full-profile-work {
bottom: 0;
color: #fff;
font-size: 20px;
font-weight: bold;
line-height: 0;
overflow: hidden;
position: relative;
right: 0;
vertical-align: middle;
height: 400px;
}

.work-item {
	@include panel;
	margin-bottom: 1em;
	min-height: 320px;
	position: relative;
	z-index: 1;
}

.work-item-description p {
	color: lighten( $black, 45% );
}

.section-container section.active .content {
	padding: 0;
	padding-top: emCalc(15px);
}

.section-container section .title a {
	background-color: white;
	font-weight: 400;
	color: lighten( $black, 70% );
}

.section-container section.active .title a {
	font-weight: 600;
	color: lighten( $black, 10% );
	border-bottom: 3px solid lighten( $black, 10% );
}

.work-item-description, .work-item-header {
	padding: 0 emCalc(10px) 0 emCalc(10px);
}

.panel {
	@include panel;
	margin-bottom: 1em;
	position: relative;
	z-index: 1;	
}

.profile-resume {
	background-color: $black;
	padding-top: emCalc(20px);
	padding-bottom: emCalc(20px);
}

.main-avatar {
	@include border-radius(50%);
	height: 100px;	
	width: 100px;


}


