//Titles

%title-tiny {
  font-weight:$bold;
  font-size: rem-calc(12);
  line-height: 1.1em;
}

%title-mini {
  font-weight:$bold;
  font-size: rem-calc(13);
  line-height: 1.1em;
}

%title-small {
  font-weight:$bold;
  font-size: rem-calc(14);
  line-height: 1.1em;
}

%title-medium {
  font-weight:$bold;
  font-size: rem-calc(16);
  line-height: 1.1em;
}

%title-large{
  font-weight:$bold;
  @extend %smooth;
  font-size: rem-calc(20);
  line-height: 1.1em;
}

%title-great {
 font-weight:$bold;
 font-size: rem-calc(23);
 line-height: 1.1em;
}

%title-gigantic {
  font-weight:$bold;
  font-size: rem-calc(36);
  line-height: 1.1em;
}

//Text


%txt-tiny {
  font-size: rem-calc(12);
}

%txt-small {
  font-size: rem-calc(13);
}

%txt-medium {
  font-size: rem-calc(14);
}

%txt-large {
  font-size: rem-calc(15);
}

%txt-great {
  font-size: rem-calc(17);
}

%txt-gigantic {
  font-size: rem-calc(19);
}

%txt-massive {
  font-size: rem-calc(25);
}

%txt-massive {
  font-size: rem-calc(25);
}




//Paragraph

p, ul {
  color: tint($black-color, 30%);
  @extend %txt-great;
  &.tiny {
    @extend %txt-tiny;
  }
  &.small {
    @extend %txt-small;
  }
  &.medium {
    @extend %txt-medium;
  }
  &.large {
    @extend %txt-large;
  }
  &.great {
    @extend %txt-great;
  }
  &.gigantic {
    @extend %txt-gigantic;
  }
}

