<div class="panel radius resume">
  <ul class="small-block-grid-4 text-center">
    <li><h3>{{ no_works }} <small>Trabajos</small></h3></li>
    <li><h3>{{ no_ind_exhibitions }} <small>Exposiciones individuales</small></h3></li>
    <li><h3>{{ no_col_exhibitions }} <small>Exposiciones colectivas</small></h3></li>
    <li><h3>{{ no_contacts }} <small>Contactos</small></h3></li>
  </ul>
</div><!--/resume-->

