<footer class="row">
  <div class="large-12 columns">
    <hr />
    <div class="row">
      <div class="large-3 small-12 small-centered columns">
        <p>&copy; ArtNation</p>
      </div>
      <div class="large-9 small-12 columns">		
		<dl class="sub-nav right">
		  <dd {% if mixture.url == "home" %}class="active"{% endif %}><a href="#">Inicio</a></dd>
		  <dd {% if mixture.url == "profile" %}class="active"{% endif %} ><a href="#">Perfil</a></dd>
		  <dd {% if mixture.url == "calls" %}class="active"{% endif %}><a href="#">Convocatorias</a></dd>
		  <dd {% if mixture.url == "exhibitions" %}class="active"{% endif %}><a href="#">Exposiciones</a></dd>
		</dl>
      </div>
    </div>
  </div> 
</footer>
<!-- TODO: Terminar HTML  -->