<nav class="top-bar">
  <ul class="title-area">
	<!-- Title Area -->
	<li class="name">
	  <h1 class="subheader"><a href="#">{{ mixture.project_name }} </a></h1>
	</li>
	<!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
	<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
	<!-- Left Nav Section -->
	<ul class="left">
	  <li {% if mixture.url == "home" %}class="active"{% endif %}><a href="inicio">Inicio</a></li>
	  <li {% if mixture.url == "profile" %}class="active"{% endif %} ><a href="profile">Perfil</a></li>
	  <li {% if mixture.url == "calls" %}class="active"{% endif %}><a href="calls">Convocatorias</a></li>
	  <li {% if mixture.url == "exhibitions" %}class="active"{% endif %}><a href="exhibitions">Exposiciones</a></li>
	</ul>

	<!-- Right Nav Section -->
	<ul class="right">
	  <li><a href="#">Notificaciones</a></li>
	  <li><a href="#">Mensajes</a></li>
	  <li><a href="#">Ajustes</a></li>
	  <li><a href="#">{{ global.user }}</a></li>
			
	</ul>
  </section>
</nav>
