<div class="large-3 columns">         
	<img src="http://cambelt.co/icon/avatar/580x580?Colors?color=25d54e" />
	<div class="panel">
		  <h6>{{ global.user | truncate:15 }}</h6>
		  <p>{{ statement | truncatewords:40 }}</p>
	</div> 
</div>