<h5><a href="#">{{ global.user }}</a></h5>
  <div class="section-container vertical-nav" data-section data-options="deep_linking: false; one_up: true">
  <section {% if mixture.url == "settings-profile" %}class="active"{% endif %}>
    <h5 class="title"><a href="settings-profile">Perfil</a></h5>
  </section> 
  <section {% if mixture.url == "settings-account" %}class="active"{% endif %}>
    <h5 class="title"><a href="settings-account">Ajustes de la cuenta</a></h5>
  </section>
  <section {% if mixture.url == "settings-mail" %}class="active"{% endif %}>
    <h5 class="title"><a href="settings-mail">Correo electrónico</a></h5>
  </section>
  <section {% if mixture.url == "settings-notification" %}class="active"{% endif %}>
    <h5 class="title"><a href="settings-notification">Notificaciones</a></h5>
  </section>
  
  <li class="active" ><a href="#">Tus convatorias </a></li>
  <li class="divider"></li>
  <li><a href="#" >Tus exposiciones</a></li>
  <li class="divider"></li>
  <li><a href="#" >Tus perfil</a></li>
  <li class="divider"></li>
</div>
