<div class="sidebar-avatar">
  <a href="#"><img src="https://dl.dropboxusercontent.com/u/991960/profile.jpg" /></a>
</div>

<div class="panel sidebar">

  <h5><a href="#">{{ global.user }}</a></h5>
    <div class="section-container vertical-nav" data-section data-options="deep_linking: false; one_up: true">
    <section class="section">
      <h5 class="title"><a href="#">Tus convocatorias</a></h5>
    </section>
    <section class="section">
      <h5 class="title"><a href="#">Tus exposiciones</a></h5>
    </section>
    <section class="section">
      <h5 class="title"><a href="#">Tu perfil</a></h5>
    </section>

  </div>
<!-- TODO: Agregar Info como en el sidebar de Github  -->

</div>
