<!-- Feed Entry -->
   <div class="row">
   	<div class="large-12 columns">
   	<div class="share-panel">
   		<input type="text" placeholder="Comparte una actividad" />
   		<div class="row">
   		  
   		 <div class="large-3 columns small-6">
   		  	 <div class="row">
   		  		<div class="large-3  small-3 columns text-center"><a href="#" class="button radius small secondary"><span aria-hidden="true" data-icon="&#xe011;"></span></a></div>
   		  		<div class="large-3  small-3 columns text-center"><a href="#" class="button radius small secondary"><span aria-hidden="true" data-icon="&#xe02a;"></span></a></div>
   		  		<div class="large-3  small-3 columns text-center"><a href="#" class="button radius small secondary"><span aria-hidden="true" data-icon="&#xe008;"></span></a></div>
   		  		<div class="large-3  small-3 columns text-center"><a href="#" class="button radius small secondary"><span aria-hidden="true" data-icon="&#xe000;"></span></a></div>
   		  	</div>
   		  </div>
   		  <div class="large-9 columns small-6">
   		  	<a href="#" class="button radius small success right">Publicar</a>
   		  </div>
   		</div>
   	</div>
   	</div>
   
   
<div class="large-6 columns">
	{% include "stream-item-1" %}   	
</div>

<div class="large-6 columns">
	{% include "stream-item-1" %}   	
</div>

<div class="large-6 columns">
	{% include "stream-item-1" %}   	
</div>

<div class="large-6 columns">
	{% include "stream-item-1" %}   	
</div>

<div class="large-6 columns">
	{% include "stream-item-1" %}   	
</div>

<div class="large-6 columns">
	{% include "stream-item-1" %}   	
</div>
   
   
   
   
        