<article class="main">
	<header>
	   <div class="row">
		   <div class="large-3 columns small-3">
		   	<a href="#">{{ "100x100" | placeholder | image_tag }}</a>
		   </div>
			<div class="large-9 columns small-9">
				<h4 class="no-margin"><small><a href="" class="" >Natalia Ventre</a></small></h4>
				<span class="x-small"><span>Se compartió públicamente.</span> &nbsp;-&nbsp; <span>Ayer a la(s) 12:49</span></span>
			</div>
		</div>
	</header>
	<hr />
	<section class="article-text">
		<p class="small">Les compartimos un pequeño instructivo para participar en #TalentoDigital </p>
		<a href="#">{{ "600x250" | placeholder | image_tag }}</a>
	</section>
	<footer class="article-footer">
		<div class="row">
		  <div class="large-2  small-2 columns text-center"><a href="#" class="button radius small secondary"><span aria-hidden="true" data-icon="&#xe020;"></span></a></div>
		  <div class="large-2  small-2 columns text-center"><a href="#" class="button radius small secondary"><span aria-hidden="true" data-icon="&#xe015;"></span></a></div>
		  <div class="large-6  small-6 columns"><a href="#"><input type="text" title=""></a></div>
		  <div class="large-2  small-2 columns"><a href="#">{{ "100x100" | placeholder | image_tag }}</a></div>
		</div>
	</footer>
	<div class="article-comment">
		<div class="row">
			<div class="large-2 columns small-2">
				<img src="{{ global.user_img }}">
			</div>
			<div class="large-10 columns small-10">
				<textarea></textarea>
				<a href="#" class="button radius tiny success">Publicar Comentar</a> <a href="#" class="button radius tiny secondary">Cancelar</a>
			</div>				  
		</div>
	</div>
</article>