<div class="artist-resume">
	<div class="row">
		<div class="large-12 columns">
			  <ul class="large-block-grid-4 small-block-grid-4  text-center">
				 <li><h3>{{ model.no_works }}</h3><span class="">Trabajos</span></li>
				 <li><h3>{{ model.no_projects }}</h3><span class="">Projectos</span></li>
				 <li><h3>{{ model.no_ind_exhibitions }}</h3><span class=""><i class="hide-for-medium-down">Exposiciones</i> individuales</span></li>
				 <li><h3>{{ model.no_col_exhibitions }}</h3><span class=""><i class="hide-for-medium-down">Exposiciones</i> colectivas</span></li>
			  </ul>
		</div>
	</div>
</div><!--/artist-resume-->
