{% block content %}
<!-- Header and Nav -->


<div class="row">
    <!-- Nav Sidebar -->
    <!--<div class="large-3 columns">
     {% include "side-profile" %}
    </div>-->

    <!-- Feed -->
    <div class="large-12 columns">
        <div class="row">
            <div class="large-6 columns">
                <h4 class="subheader no-margin">Actividad reciente</h4>
            </div>
            <div class="large-6 columns">
                <dl class="sub-nav right stream-filter">
                  <dd class="active"><a href="#">Todo</a></dd>
                  <dd><a href="#">Seguidores</a></dd>
                  <dd><a href="#">Exposiciones</a></dd>
                  <dd><a href="#">Convocatorias</a></dd>
                </dl>
            </div>


        </div>
       <hr />
        {% include "stream" %}
    </div>
</div>
{% endblock %}
