{% layout "login" %}

{% block content %}

<div class="cover">
	<div class="auth-box">

		<section class="sign-in">
			<header><span class="artnation">ArtNation</span>. Recuperar contraseña.</header>

			<div class="panel">
				<p class="small">Para restablecer tu contraseña, ingresa el correo electrónico con el cual te registraste en tu cuenta de ArtNation, y te enviaremos instrucciones a tu correo para recuperarla.</p>
				<form action="">
					<div data-alert class="alert-box alert radius">
						El correo debe tener un formato correcto. <a href="#" class="close">&times;</a>
					</div>
					<div data-alert class="alert-box alert radius">
						Este correo no existe. Intenta con otro.<a href="#" class="close">&times;</a>
					</div>
					<input type="text" placeholder="{{ global.mail }}">
					<a href="select-profile" class="button radius expand">Recuperar contraseña</a>
				</form>

			</div><!--/panel-->
			<div class="text-center note">¿No estás registrado? <a href="">regístrate ahora</a></div>
		</section>

	</div>
</div>
{% endblock %}