{% layout "login" %}

{% block content %}

<div class="cover">
	<div class="auth-box">
		<section class="sign-in">
			<header><span class="artnation">ArtNation</span>. Iniciar sesión.</header>

			<div class="panel">
				<a class="facebook-auth"><span aria-hidden="true" data-icon=".">F</span>Inicia sesión con Facebook</a>
			</div>
			<div class="text-center">
				<div class="login-option">
					<span></span>
					<em>O inicia sesión con tu correo electrónico</em>
					<span></span>
				</div>
			</div>
			<div class="panel">
				<form action="">
					<span class="icon_lock">fkfkf</span>
					<div data-alert class="alert-box alert radius">
						El correo debe tener un formato correcto. <a href="#" class="close">&times;</a>
					</div>
					<div data-alert class="alert-box alert radius">
						Este correo no existe. Intenta con otro.<a href="#" class="close">&times;</a>
					</div>
					<input type="text" placeholder="{{ global.mail }}" class="icon_lock">
					<input type="password" placeholder="{{ global.password }}" class="icon_mail">
					<a href="../create/about" class="button radius expand">Iniciar sesión</a>
				</form>
				<div class="recover-password text-center">¿Olvidaste tu contraseña? <a href="recover-password">Recupérala.</a></div>
			</div>
			<div class="text-center note">¿No estás registrado? <a href="sign-up">regístrate ahora</a></div>
		</section>
	</div>
</div>
{% endblock %}